.panel-primary{
    border: none;
    height: 100vh;
    margin-bottom: 0;
    position: relative;
    text-align: center;
}

.panel-heading{
    height: 50px;
}
.panel-footer{
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
}

.panel-body{
    height: calc(100% - 50px - 200px);
    overflow-y: scroll;
}

.v-center-items{
    display: flex;
    align-items: center;
}

.v-center-items div{
    text-align: center;
}

.v-center-items div:first-of-type{
    font-size: larger;
    font-weight: 600;
}

.current-user{
    margin-bottom: 10px;
}

.v-center{
    transform: translateY(-50%);
    top: 50%;
    position: relative;    
}

.highlight-user{
    background-color: #d9edf7;
}

img{
    height: 50px !important;
    width: 50px;
}

@media (min-width: 768px){
    .inline-large {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}