<!DOCTYPE html>
<html lang="en" ng-app="userRanking" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My AngularJS App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
        <link rel="stylesheet" href="app.css">
        <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-controller="MainCtrl">
        <button ng-click="click()">Click me!</button>
        <ul ng-repeat="user in users.list | orderBy: '-points'">
            <li>{{user.image}}</li>
            <li>{{user.name}}</li>
            <li>{{user.points}}</li>
        </ul>


        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        
        <!-- app files -->
        <script src="services/url/UrlsModule.js"></script>
        <script src="services/users/UsersModule.js"></script>
        <script src="app.js"></script>
        <script src="app.controllers.js"></script>
        
        <!-- mock server -->
        <script src="bower_components/angular-mocks/angular-mocks.js"></script>
        <script src="bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="services/mockServer/MockServerModule.js"></script>        
        
    </body>
</html>
